# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Affiliate API Keys (Optional)
VITE_ADMITAD_CLIENT_ID=
VITE_ADMITAD_CLIENT_SECRET=
VITE_DCM_NETWORK_API_KEY=
